.Overview {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.Init {
    width: 100%;
    > div {
        max-width: 400px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: 48px auto 0 auto;
    }
}
